.tweet-container {
	clear: right;
}

.tweet-card {
	-webkit-transition: translate3d(0,0,0);
	cursor: pointer;
	background: white;
	margin: 10px 20px;
	padding: 20px;
	border-bottom: 6px solid white;
	.drop-shadow;
	.border-radius;

	.tweet-author {
		font-weight: 900;
		margin-bottom: 8px;
	}

	.tweet-text {
		font-size: 20px;
		color: #777;
	}
}

.loading {
	margin: 20px;
	text-align: center;
	font-size: 18px;
}

.drop-shadow (@x: 0, @y: 1px, @blur: 1px, @spread: 0, @alpha: 0.25) {
	-webkit-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
	-moz-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
	box-shadow:		@x @y @blur @spread rgba(0, 0, 0, @alpha);
}

.border-radius (@radius: 2px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}
