<nav>
	<ul>
		<li>@Html.ActionLink("Home", "Index", "Home")</li>
		<li>@Html.ActionLink("Following", "Following", "Home")</li>
		<li>@Html.ActionLink("Timeline", "Timeline", "Home")</li>
	</ul>
</nav>