@section OptionalLogo
{
	<div class="logo">
		<div class="highlight"><strong>Hire</strong></div>
		<div class="light">Tom Bowers</div>
	</div>
}

@section OptionalStyles
{
	@Styles.Render("~/Bundles/DemoCss")	
}

@section OptionalScripts
{
	@Scripts.Render("~/Bundles/jQuery")
	@Scripts.Render("~/Bundles/jQueryTransit")

	@Scripts.Render("~/Bundles/DemoJavascript")
}

<div class="tweet-container">
	
</div>