<div class="hero">
	<div class="highlight"><strong>Hire</strong></div>
	<div class="light">Tom Bowers</div>
</div>

<div class="demo-links">
	<a class="button" href="@Url.Action("Demo", "Home")">View demo</a> @* TODO: Open in modal *@
	<a class="button" target="_blank" href="https://github.com/tombowers/TwitterCards">View source</a>
</div>

@*<div class="cv">
	TODO: brief CV
</div>*@